.M-stage .M-content .app-panel .child-panel{float: left;}

.M-stage .M-content .app-panel .app-pre{ display: flex; display: -webkit-flex; justify-content: center;  width: 400px; height: 700px; background: #000000; border-radius: 10px;}

.M-stage .M-content .app-panel .app-pre .phone{ margin: auto; width: 360px; height: 640px; background: #FFF; overflow: scroll;}



/*temp*/
/*-temp1000-*/
.M-stage .M-content .app-panel .app-pre .phone .temp{width: 100%;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000{ background: #ff6811; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head{ display: flex; display: -webkit-flex; justify-content: flex-start; align-items: center;  width: 100%; height: 50px; background: #f46310; border-bottom: 1px solid #ff7729;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head .icon{ margin: 0 0 0 20px; width: 30px; height: 30px; background: #FFF; border-radius: 50%; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head .title{ margin: 0 0 0 20px; color: #FFF; font-size: 14px; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .logo{margin: 50px auto; width: 200px; height: 155px;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .logo img{width: 200px; height: 155px;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .main-title{font-size: 30px; color: #FFF; text-align: center;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .footer{ position: relative; height: 100px; background: #FFF;}

/*-temp1001-*/
.M-stage .M-content .app-panel .app-pre .phone .temp1001{ background: #009688; }