.M-stage .M-content .app-panel .child-panel{float: left;}

.M-stage .M-content .app-panel .app-pre{ display: flex; display: -webkit-flex; justify-content: center;  width: 400px; height: 700px; background: #000000; border-radius: 10px;}

.M-stage .M-content .app-panel .app-pre .phone{ margin: auto; width: 360px; height: 640px; background: #FFF; overflow: scroll;}

.M-stage .M-content .app-panel .app-edit{ width: 500px; height: 700px;}

.M-stage .M-content .app-panel .app-edit .tool-bar{display: flex; display: -webkit-flex; flex-direction: row; justify-content: flex-start; width:100%; height: 40px; line-height: 40px; background: #000; font-size: 20px; font-weight: bold; color: #FFF;}

.M-stage .M-content .app-panel .app-edit .tool-bar .tool-item{margin: 0 0 0 10px; width: 40px; height: 40px; cursor: pointer;}


/* work tool */
body .pop-select-temp{width: 440px; height: 700px; background: #dedede;}

body .pop-select-temp .win-temp{display: flex; display: -webkit-flex; flex-direction: row; justify-content: center; width: 440px; height: 640px;}

body .pop-select-temp .s-t-panel{ height: 100%;}

body .pop-select-temp .s-t-btn{display: flex; display: -webkit-flex; flex-direction: column; justify-content: center;   width: 40px;}

body .pop-select-temp .s-t-btn .select-btn{width: 40px; height: 40px; border-radius: 25px;}

body .pop-select-temp .s-t-panel-m{width: 360px;}

body .pop-select-temp .s-t-panel-m img{width: 360px; height: 640px; cursor: pointer;}

/* work edit area */
.M-stage .M-content .app-panel .app-edit{margin: 0 0 0 10px;  border: 1px solid #D2D2D2;}

.M-stage .M-content .app-panel .app-edit .area-edit{width: 100%; height: 660px;}

.M-stage .M-content .app-panel .app-edit .area-edit .area-title{height: 40px; line-height: 40px;}

.M-stage .M-content .app-panel .app-edit .area-edit .area-title fieldset{ padding: 0 0 0 20px; border-top: 1px solid #eee;}


/*temp*/
/*-temp1000-*/
.M-stage .M-content .app-panel .app-pre .phone .temp{width: 100%;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000{display: flex; display: -webkit-flex; flex-direction: column; justify-content: space-between;    background: #ff6811; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head{ display: flex; display: -webkit-flex; justify-content: flex-start; align-items: center;  width: 100%; height: 50px; background: #f46310; border-bottom: 1px solid #ff7729;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head .icon{ margin: 0 0 0 20px; width: 30px; height: 30px; background: #FFF; border-radius: 50%; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .head .title{ margin: 0 0 0 20px; color: #FFF; font-size: 14px; }

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .logo{margin: 50px auto; width: 200px; height: 155px;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .logo img{width: 200px; height: 155px;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .main-title{font-size: 30px; color: #FFF; text-align: center;}

.M-stage .M-content .app-panel .app-pre .phone .temp1000 .footer{height: 100px; background: #FFF;}

/*-temp1001-*/
.M-stage .M-content .app-panel .app-pre .phone .temp1001{ background: #009688; }

